<% var auiVersion = "5.7.16" %>

<%
   // calculate the relative path to the document root from the page depth
   var relDocRoot = "";
   for (var i = 1; i < current.path.length; i++) {
      relDocRoot += "../";
   }
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/png" href="<%= relDocRoot %>assets/images/favicon.png" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/codemirror.min.css" media="all">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/theme/neat.min.css" media="all">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/<%= auiVersion %>/css/aui.css" media="all">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/<%= auiVersion %>/css/aui-experimental.css" media="all">
    <!--[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/<%= auiVersion %>/css/aui-ie9.css" media="all"><![endif]-->
    <link rel="stylesheet" href="<%= relDocRoot %>assets/css/connect-host.css" media="all">
    <link rel="stylesheet" href="<%= relDocRoot %>assets/css/styles.css" media="all">
    <script src="//code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.3.0/lodash.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/<%= auiVersion %>/js/aui.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/<%= auiVersion %>/js/aui-soy.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/<%= auiVersion %>/js/aui-experimental.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/codemirror.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/mode/javascript/javascript.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/mode/clike/clike.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-sequence-diagrams/1.0.4/sequence-diagram-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
</head>

<body id="ac" class="aui-layout aui-theme-default aui-page-hybrid" data-baseurl="<%= relDocRoot %>">
    <div id="page">
        <header id="header" role="banner">
            <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
                <div class="aui-header-inner">
                    <div class="aui-header-primary">
                        <h1 id="logo" class="aui-header-logo aui-header-logo-ac">
                            <a href="<%= relDocRoot %>index.html">
                                <span class="aui-header-logo-device">Atlassian Connect</span>
                            </a>
                        </h1>
                    </div>
                    <div class="aui-header-secondary">
                        <ul class="aui-nav">
                            <li>
                                <a href="https://ecosystem.atlassian.net/browse/AC" class="issue-collector-feedback">
                                    <span class="aui-icon aui-icon-small aui-iconfont-help">Help</span>
                                    Feedback
                                </a>
                            </li>
                            <li>
                                <form action="<%= relDocRoot %>resources/search.html" method="get" class="aui-quicksearch">
                                    <label for="search" class="assistive">Search</label>
                                    <input id="search" class="search" type="text" placeholder="Search..." name="q" />
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- #header -->
        <section id="content" role="main">
            <header class="aui-page-header">
                <div class="aui-page-header-inner">
                    <div class="aui-page-header-main">
                        <h1>
                            <%= subtitle %>
                        </h1>
                    </div>
                </div>
            </header>

            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <%- partial('_partials/_sidebar.ejs', { relDocRoot: relDocRoot }) %>
                    <section class="aui-page-panel-content ac-page">
                        <%
                            var module;
                            if (current.path[0] === 'modules') {
                                switch (current.path.length) {
                                    case 2:
                                        module = entities.root[current.source];
                                        break;
                                    case 3:
                                        module = entities[current.path[1]][current.path[2]];
                                        break;
                                }
                            }
                        %>

                        <% if (module) { %>
                            <%- partial('modules/_child_layout.jade', { module: module, relDocRoot: relDocRoot }) %>
                        <% } else { %>
                            <%- yield %>
                        <% } %>
                    </section>
                </div>
            </div>
        </section>
        <footer id="footer" role="contentinfo">
            <section class="footer-body">
                <ul id="aui-footer-list">
                    <li>Copyright &copy; 2009-2014 Atlassian</li>
                </ul>
                <div id="footer-logo">
                    <a href="http://www.atlassian.com/">Atlassian</a>
                </div>
            </section>
        </footer>
    </div>
    <script>
        $(".diagram").sequenceDiagram({theme: 'simple'});

        var codeDefaults = {
            mode: "clike",
            theme: "neat",
            lineNumbers:true,
            gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter'],
            indentWithTabs:false,
            electricChars:true,
            matchBrackets:true,
            autoCloseBrackets:true,
            highlightSelectionMatches:true,
            indentUnit:2,
            lineWrapping: true,
            readOnly:true
        };

        $('.code').each(function(){
            CodeMirror.fromTextArea(this, codeDefaults);
        });

        function cmIfyPreCodeBlocks(block) {
            var $sample = $(block),
                lang = $sample.data('lang'),
                text = $sample.text().trim(),
                newOpts = $.extend({}, codeDefaults);

            if (text.split("\n").length <= 1 || lang === "text") {
                newOpts.lineNumbers = false;
                newOpts.gutters = [];
            }
            newOpts.value = text;

            if (lang) {
                newOpts.mode = (lang == 'java' ? 'text/x-java' : lang);
            }

            var cm = CodeMirror(
                function(node){
                    block.parentNode.replaceChild(node, block)
                }, newOpts
            );
        }
        $('pre code').each(function(){
            cmIfyPreCodeBlocks(this)
        });
        
        $(".expandNextPre").each(
            function(index)
            {
                $(this).nextAll("pre").first().addClass("aui-expander-content");
            }
        );
    </script>
    <!-- issue collector -->
    <script type="text/javascript" src="https://ecosystem.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_US-mqmy26-1988229788/6206/199/1.4.1/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=d5b17e2f"></script>
    <script>
        window.ATL_JQ_PAGE_PROPS = {
            "triggerFunction": function(showCollectorDialog) {
                jQuery(".issue-collector-feedback").click(function(e) {
                    e.preventDefault();
                    showCollectorDialog();
                });
            }
        };
    </script>
    <!-- Google Analytics -->
    <script type="text/javascript">
        if(location.hostname === "developer.atlassian.com") {
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-6032469-43']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        }
    </script>
    <script type="text/javascript">
        adroll_adv_id = "32VY3BYAQRHLDDVMBEAGU2";
        adroll_pix_id = "7Q44S6SDXNA4NE4TSAUFGF";
        (function () {
            var oldonload = window.onload;
            window.onload = function() {
               __adroll_loaded=true;
               var scr = document.createElement("script");
               var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
               scr.setAttribute('async', 'true');
               scr.type = "text/javascript";
               scr.src = host + "/j/roundtrip.js";
               ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
               if(oldonload){
                   oldonload()
               }
            };
        }());
    </script>
    <script src="<%= relDocRoot %>assets/js/connect-host.js"></script>
    <script src="<%= relDocRoot %>assets/js/jsandbox.js"></script>
    <script src="<%= relDocRoot %>assets/js/startup-commands.js"></script>
    <script src="<%= relDocRoot %>assets/js/static-includes.js"></script>
</body>

</html>
