### Stable versions

Starting the applications requires you to specify a number of hard-coded component version numbers as shown. This
includes the version of Atlassian Connect framework. Those component versions will change as Atlassian Connect
development continues. To find out about new version updates, subscribe to the Atlassian Connect
[mailing list](https://groups.google.com/forum/?fromgroups=#!forum/atlassian-connect-dev), and keep your eye on
Atlassian Connect [release notes](https://developer.atlassian.com/static/connect/docs/resources/release-notes.html).

The first time you start a local instance of an Atlassian application using the Atlassian Plugin SDK,
the SDK will download all dependencies, which can take up to 1/2 hour.

To start a local JIRA/Confluence server with Connect matching what is currently in production in Atlassian Cloud, run:

#### JIRA

<span id="commands-jira-prd">Loading...</span>

#### Confluence

<span id="commands-confluence-prd">Loading...</span>

### Bleeding edge
<div class="aui-message warning">
    <p class="title">
        <span class="aui-icon icon-success"></span>
        <strong>Experts only!</strong>
    </p>
    <p>This is using the latest development version of Connect, so you can test the latest and greatest,
        and as such may be unstable.</p>
</div>

To start a local JIRA/Confluence server with the latest development version of Connect (bleeding edge), run:

#### JIRA

<span id="commands-jira-dev">Loading...</span>

#### Confluence

<span id="commands-confluence-dev">Loading...</span>